{% if ansible_distribution_release=="eoan" %}
    deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable
{% else %}
    deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
{% endif %}